<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../assets/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
<div id="app" v-cloak>
    <div id="tree">
        <p class="lv3font">{{ $t('File Directory') }}</p>
        <el-tree
                ref="tree"
                :props="props"
                :data="treeData"
                :load="loadNode"
                :expand-on-click-node="false"
                @node-click="nodeClick"
                node-key="path"
                accordion
                lazy
        >
        </el-tree>

    </div>
    <div>
        <!--        <el-row>-->
        <el-button type="primary" icon="el-icon-refresh" size="mini" @click="refreshBtn">
            {{ $t('Refresh') }}
        </el-button>
        <el-button type="primary" icon="el-icon-upload" size="mini" @click="uploadBtn"
                   :loading="ConfirmLoading">{{ $t('Upload') }}
        </el-button>
<!--        <el-button type="primary" icon="el-icon-upload" size="mini" @click="gobyBtn"-->
<!--                   :loading="GobyLoading"> Goby-->
<!--        </el-button>-->
        <el-button type="primary" icon="el-icon-news" @click="newFile" size="mini">{{ $t('New File') }}
        </el-button>
        <el-button type="primary" icon="el-icon-folder" @click="newFolder" size="mini">{{ $t('New Folder') }}
        </el-button>
        <el-button v-if="isShowCancelBtn" @click="cancelBtn" type="danger" icon="el-icon-close" size="mini">
            Cancel
        </el-button>
        <el-button v-if="isShowResultBtn" @click="resultBtn" type="primary" icon="el-icon-finished" size="mini">
            获取结果
        </el-button>
        <!--        </el-row>-->
    </div>

    <div id="table">
        <p class="lv3font">
            {{ $t('Current path') }} : {{ currentPath || "" }}

            <el-select v-model="decode" size="mini" class="decode">
                <el-option
                        v-for="item in decodeOptions"
                        :key="item.value"
                        :label="item.label"
                        :value="item.value">
                </el-option>
            </el-select>
            <span class="decode_title">{{ $t('encode') }}: </span>

        </p>
        <el-table
                :data="currTableData"
                style="width: 100%"
                @row-contextmenu="onContextmenu"
                @row-dblclick="dblclick"
                :empty-text="$t('No data')"
        >
            <el-table-column
                    prop="name"
                    label="Name"

            >
                <template slot-scope="scope">
                    <i :class="{
                            'el-icon-folder':scope.row.type=='directory',
                            'el-icon-tickets':scope.row.type=='file'
                        }"></i>
                    <span v-text="scope.row.name"></span>
                </template>
            </el-table-column>
            <el-table-column
                    prop="size"
                    label="Size"

                    width="180">
            </el-table-column>
            <el-table-column
                    prop="lastModified"
                    label="lastModified"

                    width="180">
            </el-table-column>
            <el-table-column
                    prop="perm"
                    label="perm"

                    width="180">
            </el-table-column>
        </el-table>
        <el-pagination
                @current-change="handleCurrentChange"
                :current-page="page"
                :page-sizes="[10,20,30,40]"
                :page-size="size"
                layout="total,prev, pager, next, jumper"
                :total="total">
        </el-pagination>
        <div style="width: 270px;position: absolute;bottom: 12px;left: 0;">
            <el-progress v-if="isShowProgress" :percentage="progress" :status="proStatus"></el-progress>
        </div>
    </div>

    <el-dialog :title="fixTime.name"
               :visible.sync="isShowFixTime"
               width="40%" height="80%"
    >
        <el-form ref="fixTime" :model="fixTime" label-width="100px"
                 :model="formLabelAlign">
            <el-form-item label="CreateTime: ">
                <el-input v-model="fixTime.createTime"></el-input>
            </el-form-item>
            <el-form-item label="ModifiedTime: ">
                <el-input v-model="fixTime.lastModifiedTime"></el-input>
            </el-form-item>
            <el-form-item label="AccessTime: ">
                <el-input v-model="fixTime.lastAccessTime"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" size="small" @click="isShowFixTime = false">Back</el-button>
                <el-button type="primary" size="small" @click="modTimestamp">Submit</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>

    <el-dialog
            :title="fileCon.name"
            :visible.sync="isShowFileCon"
            width="70%"
    >
        <textarea ref="textarea" class="fileCon" v-model="fileCon.con"></textarea>
        <span slot="footer" class="dialog-footer">
                <el-button type="primary" size="small" @click="isShowFileCon = false">Back</el-button>
                <el-button v-if="isShowRefreshBtn" type="primary" size="small" @click="resultBtn">Refresh</el-button>
                <el-button type="primary" size="small" @click="saveFile">Save</el-button>
            </span>
    </el-dialog>

    <el-dialog :title="runExe.name"
               :visible.sync="isShowRunExe"
               width="40%" height="60%"
    >
        <el-form ref="fixTime" :model="runExe" label-width="100px"
                 :model="formLabelAlign">
            <el-form-item label="File: ">
                <el-input v-model="runExe.fileName"></el-input>
            </el-form-item>
            <el-form-item label="Args: ">
                <el-input v-model="runExe.args"></el-input>
            </el-form-item>
            <el-form-item label="OutPut: ">
                <el-input v-model="runExe.outputFile"></el-input>
            </el-form-item>
            <el-form-item>
                <el-button type="primary" size="small" @click="isShowRunExe = false">Cancel</el-button>
                <el-button type="primary" size="small" @click="runExeBtn">Run</el-button>
            </el-form-item>
        </el-form>
    </el-dialog>
</div>
</body>
<script src="../assets/js/vue.min.js"></script>
<script src="../assets/js/vue-i18n.js"></script>
<script src="../assets/element-ui/lib/index.js"></script>
<script src="../assets/js/jquery-3.3.1.min.js"></script>
<script src="../assets/js/contextmenu.umd.js"></script>
<script src="../assets/js/lang.js"></script>
<script src="../assets/element-ui/lib/umd/locale/en.js"></script>
<script src="../assets/element-ui/lib/umd/locale/zh-CN.js"></script>
<script>
    const messages = {
        'EN': enObj,
        'CN': zhObj
    }
    const lang = messages[parent.goby.getLang()] ? parent.goby.getLang() : 'EN'
    const i18n = new VueI18n({
        locale: parent.goby.getLang(), // 设置地区
        messages, // 设置地区信息
        missing: (locale, key, vm) => {
            var res = vm.$i18n.messages[vm.$i18n.locale][key];
            if (res) {
                // 已经翻译
                return res;
            } else {
                return key;
            }
        }
    })
    ELEMENT.locale(ELEMENT.lang.en)
    parent.goby.bindEvent('onChangeLang', (lang) => {
        i18n.locale = lang
    })
    // let utils = top.require(top.require('path').join(parent.goby.__dirname,'behinder/utils.js'))
    new Vue({
        data: {
            tableData: [],
            filePath: [],
            props: {
                label: 'title',
                children: 'children',
                // isLeaf: 'leaf'
            },
            treeData: [],
            currentPath: "",
            total: 0,
            page: 1,
            size: 10,
            path: top.require('path'),
            isShowFileCon: false,
            fileCon: {
                name: "",
                con: ""
            },
            isShowFixTime: false,
            fixTime: {
                name: "",
                createTime: "",
                lastModifiedTime: "",
                lastAccessTime: ""
            },
            runExe: {
                name: "",
                fileName: "",
                args: "",
                outputFile: "",
                perm: "",
            },
            isShowRunExe: false,
            decode: 'UTF-8',
            decodeOptions: [
                {
                    value: 'UTF-8',
                    label: 'UTF-8'
                },
                {
                    value: 'GBK',
                    label: 'GBK'
                }
            ],
            progress: "0",
            isShowProgress: false,
            ConfirmLoading: false,
            GobyLoading: false,
            ConfirmSuccess: false,
            proStatus: "",
            uploadFileName: "",
            isShowCancelBtn: false,
            // 结果按钮展示
            isShowResultBtn: false,
            isShowRefreshBtn: false,
            // 记录文件名
            outputFilePath: ""
        },
        methods: {
            // form  https://github.com/AntSwordProject/antSword/blob/bdf2f9ae94498747b2eb3a194584190994a23a01/source/modules/filemanager/files.js
            fileSize(t) {
                let i = false;
                let b = [
                    "b",
                    "Kb",
                    "Mb",
                    "Gb",
                    "Tb",
                    "Pb",
                    "Eb"
                ];
                for (let q = 0; q < b.length; q++)
                    if (t > 1024)
                        t = t / 1024;
                    else if (i === false)
                        i = q;
                if (i === false)
                    i = b.length - 1;
                return Math.round(t * 100) / 100 + " " + b[i];
            },
            pathsToTree(paths, currpath = '') {
                let dataStr = [];
                paths.forEach(path => {
                    if (path.length === 0) {
                        return
                    }
                    let curPoint;
                    let parts
                    if (path.substr(0, 1) === "/" || path.substr(0, 1) === "\\") {
                        // Linux
                        path = path.split('\\').join("/")
                        parts = path.split("/");
                        if (parts[0] === "") { // 处理根目录/的情况
                            parts[0] = "/"
                        }
                    } else {
                        // windows
                        parts = path.split("\\");
                    }

                    for (let i = 0; i < dataStr.length; i++) {
                        if (parts[0] === dataStr[i].title) {
                            curPoint = dataStr[i]
                        }
                    }
                    if (curPoint === undefined) {
                        dataStr.push({})
                        curPoint = dataStr[dataStr.length - 1]
                    }

                    // console.log(curPoint);
                    parts.forEach((value, k) => {
                        // console.log(k, value)
                        if (value.length === 0) {
                            return
                        }
                        if (k === 0) {
                            curPoint.title = value
                            curPoint.spread = true
                            curPoint.isGetPath = false
                            curPoint.path = `${currpath ? (currpath + '/') : ''}${value}`.replace(/^\/\//, '/')
                        } else {
                            if (curPoint.children === undefined) {
                                curPoint.children = [{
                                    title: value,
                                    spread: true,
                                    isGetPath: false,
                                    path: `${currpath ? (currpath + '/') : ''}${value}`.replace(/^\/\//, '/')
                                }]
                                curPoint = curPoint.children[0]

                            } else {
                                let curChild;
                                for (let i = 0; i < curPoint.children.length; i++) {
                                    if (value === curPoint.children[i].title) {
                                        curChild = curPoint.children[i]
                                    }
                                }
                                if (curChild === undefined) {
                                    curPoint.children.push({
                                        title: value,
                                        spread: true,
                                        isGetPath: false,
                                        path: `${currpath ? (currpath + '/') : ''}${value}`.replace(/^\/\//, '/')
                                    })
                                    curChild = curPoint.children[curPoint.children.length - 1]
                                }
                                curPoint = curChild
                            }
                        }
                    });
                })
                return dataStr
            },
            getInfo() {
                let id = window.location.href.split("?")[1];
                let shellInfo = top.ShellsManagerX.shellsInfo()
                // console.log(shellInfo)
                let data
                if (id === undefined) {
                    data = shellInfo[shellInfo.length - 1]
                } else {
                    data = shellInfo[id]
                }
                return data
            },
            init() {
                let cPath = this.getInfo().CPath
                let dListList = this.getInfo().DList.split(";")
                this.filePath.push(cPath)
                dListList.forEach(element => {
                    this.filePath.push(element)
                });
                this.treeData = this.pathsToTree(this.filePath)
            },
            getAllPath(obj, arr = []) {
                if (obj.level > 0) {
                    arr.push(obj.label || '')
                    arr.concat(this.getAllPath(obj.parent, arr))
                    return arr;

                } else {
                    arr.push(obj.label || '')
                    return arr.filter(item => item)
                }
            },
            loadNode(node, resolve) {
                if (node.level === 0) return
                const currentPath = this.getAllPath(node).filter(item => item).reverse().join('/').replace(/^\/\//, '/')
                this.currentPath = currentPath;
                let params = {
                    "access_time_stamp": "",
                    "char_set": "",
                    "create_time_stamp": "",
                    "current_path": "",
                    "dir_name": "",
                    "is_chunk": true,
                    "local_path": "",
                    "mode": "",
                    "modify_time_stamp": "",
                    "new_file_name": "",
                    "old_file_name": "",
                    "remote_path": ""
                }
                console.log(currentPath)
                top.ShellsManagerX.operationFile("list", currentPath, "false", params).then(res => {
                    if (res.msg.indexOf(",]") !== -1) {
                        res.msg = res.msg.replace(",]", "]")
                    }
                    let resJson = JSON.parse(res.msg)
                    let filePath = []
                    resJson.forEach((v, k) => {
                        resJson[k].lastModified = decodeURIComponent(escape(atob(resJson[k].lastModified)));
                        resJson[k].name = decodeURIComponent(escape(atob(resJson[k].name)));
                        if (resJson[k].perm) {
                            resJson[k].perm = decodeURIComponent(escape(atob(resJson[k].perm)));
                        }
                        resJson[k].type = decodeURIComponent(escape(atob(resJson[k].type)));
                        resJson[k].size = this.fileSize(decodeURIComponent(escape(atob(resJson[k].size))));
                        if (resJson[k].type === "directory" && resJson[k].name !== "." && resJson[k].name !== "..") {
                            filePath.push(resJson[k].name)
                        }

                    })
                    console.log(resJson)
                    this.$set(node.data, 'isGetPath', true)
                    this.page = 1
                    this.tableData = resJson;
                    node.tableData = resJson
                    this.total = this.tableData.length
                    resolve(this.pathsToTree(filePath, currentPath))
                }).catch((error) => {
                    parent.goby.showErrorMessage("ShellHub : " + error.message)
                })
            },
            handleCurrentChange(val) {
                this.page = val
            },
            nodeClick(val, node) {
                if (!node.data.isGetPath) {
                    const currentPath = this.getAllPath(node).filter(item => item).reverse().join('/').replace(/^\/\//, '/')
                    this.currentPath = currentPath;
                    let params = {
                        "access_time_stamp": "",
                        "char_set": "",
                        "create_time_stamp": "",
                        "current_path": "",
                        "dir_name": "",
                        "is_chunk": true,
                        "local_path": "",
                        "mode": "",
                        "modify_time_stamp": "",
                        "new_file_name": "",
                        "old_file_name": "",
                        "remote_path": ""
                    }
                    top.ShellsManagerX.operationFile("list", currentPath, "false", params).then(res => {
                        if (res.msg.indexOf(",]") !== -1) {
                            res.msg = res.msg.replace(",]", "]")
                        }
                        let resJson = JSON.parse(res.msg)

                        let filePath = []
                        resJson.forEach((v, k) => {
                            resJson[k].lastModified = decodeURIComponent(escape(atob(resJson[k].lastModified)));
                            resJson[k].name = decodeURIComponent(escape(atob(resJson[k].name)));
                            if (resJson[k].perm) {
                                resJson[k].perm = decodeURIComponent(escape(atob(resJson[k].perm)));
                            }
                            resJson[k].type = decodeURIComponent(escape(atob(resJson[k].type)));
                            resJson[k].size = this.fileSize(decodeURIComponent(escape(atob(resJson[k].size))));
                            if (resJson[k].type === "directory" && resJson[k].name !== "." && resJson[k].name !== "..") {
                                filePath.push(resJson[k].name)
                            }
                        })
                        this.page = 1
                        this.tableData = resJson;
                        node.tableData = resJson
                        this.total = this.tableData.length
                        // console.log(filePath);
                        // console.log(this.pathsToTree(filePath));
                        let arr = this.pathsToTree(filePath, currentPath)
                        this.$set(node.data, 'children', arr.length > 0 ? arr : null)
                        this.$set(node.data, 'isGetPath', true)
                        node.expanded = true;
                    }).catch((error) => {
                        parent.goby.showErrorMessage("ShellHub : " + error.message)
                    })
                } else {
                    this.page = 1
                    node.expanded = true;
                    const currentPath = this.getAllPath(node).filter(item => item).reverse().join('/').replace(/^\/\//, '/')
                    this.currentPath = currentPath;
                    this.tableData = node.tableData || []
                    this.total = this.tableData.length
                }


            },
            onContextmenu(row, column, event, cell) {
                // console.log(row, column, event, cell);
                let params = {
                    "access_time_stamp": "",
                    "char_set": "",
                    "create_time_stamp": "",
                    "current_path": "",
                    "dir_name": "",
                    "is_chunk": true,
                    "local_path": "",
                    "mode": "",
                    "modify_time_stamp": "",
                    "new_file_name": "",
                    "old_file_name": "",
                    "remote_path": ""
                }
                this.$contextmenu({
                    items: [
                        {
                            label: this.$t("Open"),
                            onClick: () => {
                                this.isShowRefreshBtn = false
                                let currentPath = this.path.join(this.currentPath, row.name).replace(/\\/g, '/').replace(/\/$/, '').replace(/^\/\//, '/')
                                // this.currentPath = currentPath;
                                let node = this.$refs.tree.getNode(currentPath)
                                // console.log(currentPath);
                                // console.log(node);
                                // console.log(this.$refs.tree.getNode(key));
                                switch (row.type) {
                                    case 'directory':
                                        this.nodeClick(node.data, node)

                                        this.currentPath = currentPath;
                                        this.$refs.tree.setCurrentKey(currentPath)
                                        break;
                                    case 'file':
                                        // let params = {
                                        //     "access_time_stamp": "",
                                        //     "char_set": "",
                                        //     "create_time_stamp": "",
                                        //     "current_path": "",
                                        //     "dir_name": "",
                                        //     "is_chunk": true,
                                        //     "local_path": "",
                                        //     "mode": "",
                                        //     "modify_time_stamp": "",
                                        //     "new_file_name": "",
                                        //     "old_file_name": "",
                                        //     "remote_path": ""
                                        // }
                                        let pathList = currentPath.split("/")
                                        params.old_file_name = pathList.pop()
                                        params.char_set = this.decode
                                        currentPath = pathList.join("/")
                                        top.ShellsManagerX.operationFile("show", currentPath, "false", params).then(res => {
                                            // console.log(res);
                                            this.$set(this.fileCon, 'name', row.name)
                                            this.$set(this.fileCon, 'con', res.msg)
                                            this.isShowFileCon = true
                                        }).catch((error) => {
                                            parent.goby.showErrorMessage("ShellHub : " + error.message)
                                        })
                                        break;
                                }

                            }
                        },
                        {
                            label: this.$t("Rename"),
                            onClick: () => {
                                this.$prompt('new Name', 'rename', {
                                    confirmButtonText: 'Confirm',
                                    cancelButtonText: 'Cancel'
                                }).then(({value}) => {

                                    params.old_file_name = this.path.join(this.currentPath, row.name).replace(/\\/g, '/').replace(/\/$/, '');
                                    params.new_file_name = this.path.join(this.currentPath, value).replace(/\\/g, '/').replace(/\/$/, '');
                                    top.ShellsManagerX.operationFile('rename', '', 'false', params).then(res => {
                                        // console.log(res);
                                        if (res.status === 'success') {
                                            let node = this.$refs.tree.currentNode.node
                                            this.$set(node.data, 'children', [])
                                            this.$set(node, 'childNodes', [])
                                            this.$set(node.data, 'isGetPath', false)
                                            this.nodeClick(node.data, node)
                                            top.goby.showSuccessMessage("ShellHub : " + res.msg)
                                        } else if (res.status === 'fail') {
                                            top.goby.showErrorMessage("ShellHub : " + res.msg)
                                        }
                                    }).catch((error) => {
                                        top.goby.showErrorMessage("ShellHub : " + error.message)
                                    })
                                })
                            }
                        },
                        {
                            label: this.$t("Delete"),
                            onClick: () => {
                                let currentPath = this.path.join(this.currentPath, row.name).replace(/\\/g, '/').replace(/\/$/, '')
                                console.log(currentPath)
                                top.ShellsManagerX.operationFile('delete', currentPath, 'false', params).then(res => {
                                    if (res.status === 'success') {
                                        let node = this.$refs.tree.currentNode.node
                                        this.$set(node.data, 'children', [])
                                        this.$set(node, 'childNodes', [])
                                        this.$set(node.data, 'isGetPath', false)
                                        this.nodeClick(node.data, node)
                                        top.goby.showSuccessMessage("ShellHub : " + res.msg)
                                    } else if (res.status === 'fail') {
                                        top.goby.showErrorMessage("ShellHub : " + res.msg)
                                    }

                                }).catch((error) => {
                                    top.goby.showErrorMessage("ShellHub : " + error.message)
                                })
                            },
                            divided: true
                        },
                        {
                            label: this.$t("Download"),
                            onClick: () => {
                                let currentPath = this.path.join(this.currentPath, "").replace(/\\/g, '/').replace(/\/$/, '')
                                console.log(currentPath)
                                params["remote_path"] = currentPath
                                top.ShellsManagerX.operationFile('download', currentPath, 'false', params).then(res => {
                                    console.log(res);
                                    if (res === 'success') {
                                        top.goby.showSuccessMessage("ShellHub : " + row.name + "Download Success")
                                    } else {
                                        top.goby.showErrorMessage("ShellHub : " + row.name + "Download fail")

                                    }
                                }).catch((error) => {
                                    top.goby.showErrorMessage("ShellHub : Download " + error.message)
                                })
                            }
                        },
                        {
                            label: this.$t("Modify Timestamp"),
                            onClick: () => {
                                let currentPath = this.path.join(this.currentPath, "/").replace(/\\/g, '/').replace(/\/$/, '')
                                params.old_file_name = row.name
                                top.ShellsManagerX.operationFile("getTimeStamp", currentPath, "false", params)
                                    .then(res => {
                                        console.log(res);
                                        if (res.status === 'success') {
                                            let timeJson = JSON.parse(res.msg)
                                            this.$set(this.fixTime, 'name', row.name)
                                            this.$set(this.fixTime, 'createTime', atob(timeJson.createTime));
                                            this.$set(this.fixTime, 'lastModifiedTime', atob(timeJson.lastModifiedTime));
                                            this.$set(this.fixTime, 'lastAccessTime', atob(timeJson.lastAccessTime));
                                            this.isShowFixTime = true;
                                        } else if (res.status === 'fail') {
                                            top.goby.showErrorMessage("ShellHub : " + res.msg)
                                        }
                                    }).catch((error) => {
                                    console.log(error)
                                    top.goby.showErrorMessage("ShellHub : " + error.message)
                                })
                            }
                        },
                        {
                            label: "Run",
                            onClick: () => {
                                let outputFilePath = this.path.join(this.currentPath, "out.txt").replace(/\\/g, '/').replace(/\/$/, '')
                                this.outputFilePath = outputFilePath
                                let runFilePath = this.path.join(this.currentPath, row.name).replace(/\\/g, '/').replace(/\/$/, '')
                                let args
                                if (runFilePath.indexOf('goby-cmd') !== -1) {
                                    args = "-apiauth user:pass -mode api -bind 0.0.0.0:8361"
                                }
                                this.$set(this.runExe, 'name', row.name)
                                this.$set(this.runExe, 'fileName', runFilePath);
                                this.$set(this.runExe, 'args', args);
                                this.$set(this.runExe, 'outputFile', outputFilePath);
                                this.$set(this.runExe, 'perm', row.perm);
                                this.isShowRunExe = true;
                            }
                        },
                        // {
                        //     label: "HTTP Tunnel Open",
                        //     onClick: () => {
                        //         top.ShellsManagerX.startProxy()
                        //     }
                        // },
                        // {
                        //     label: "HTTP Tunnel Close",
                        //     onClick: () => {
                        //         // 172.16.30.39
                        //         // let data = "RVQgLyBIVFRQLzEuMQ0KSG9zdDogMTcyLjE2LjMwLjM5OjgwODANCkNvbm5lY3Rpb246IGtlZXAtYWxpdmUNCkNhY2hlLUNvbnRyb2w6IG1heC1hZ2U9MA0KVXBncmFkZS1JbnNlY3VyZS1SZXF1ZXN0czogMQ0KVXNlci1BZ2VudDogTW96aWxsYS81LjAgKFdpbmRvd3MgTlQgMTAuMDsgV2luNjQ7IHg2NCkgQXBwbGVXZWJLaXQvNTM3LjM2IChLSFRNTCwgbGlrZSBHZWNrbykgQ2hyb21lLzk1LjAuNDYzOC42OSBTYWZhcmkvNTM3LjM2DQpBY2NlcHQ6IHRleHQvaHRtbCxhcHBsaWNhdGlvbi94aHRtbCt4bWwsYXBwbGljYXRpb24veG1sO3E9MC45LGltYWdlL2F2aWYsaW1hZ2Uvd2VicCxpbWFnZS9hcG5nLCovKjtxPTAuOCxhcHBsaWNhdGlvbi9zaWduZWQtZXhjaGFuZ2U7dj1iMztxPTAuOQ0KQWNjZXB0LUVuY29kaW5nOiBnemlwLCBkZWZsYXRlDQpBY2NlcHQtTGFuZ3VhZ2U6IHpoLUNOLHpoO3E9MC45LGVuLVVTO3E9MC44LGVuO3E9MC43DQpDb29raWU6IEpTRVNTSU9OSUQ9OEZCRkQ5NDM0RUMwRDY4MTlDMURENkMzMEJCMzk2QUENCg0K"
                        //         // 172.17.0.2
                        //         top.ShellsManagerX.stopProxy()
                        //
                        //
                        //     }
                        // }
                    ],
                    event,
                    //x: event.clientX,
                    //y: event.clientY,
                    customClass: "class-a",
                    zIndex: 3,
                    minWidth: 100
                });
                return false;
            },
            // 双击事件
            dblclick(row, column, event, cell) {
                // console.log(row, column, event, cell);
                this.isShowRefreshBtn = false
                let currentPath = this.path.join(this.currentPath, row.name).replace(/\\/g, '/').replace(/\/$/, '').replace(/^\/\//, '/')
                // this.currentPath = currentPath;
                let node = this.$refs.tree.getNode(currentPath)
                switch (row.type) {
                    case 'directory':
                        // console.log(currentPath);
                        // console.log(node);
                        this.nodeClick(node.data, node)

                        this.currentPath = currentPath;
                        this.$refs.tree.setCurrentKey(currentPath)
                        break;
                    case 'file':
                        let params = {
                            "access_time_stamp": "",
                            "char_set": "",
                            "create_time_stamp": "",
                            "current_path": "",
                            "dir_name": "",
                            "is_chunk": true,
                            "local_path": "",
                            "mode": "",
                            "modify_time_stamp": "",
                            "new_file_name": "",
                            "old_file_name": "",
                            "remote_path": ""
                        }
                        let pathList = currentPath.split("/")
                        params["old_file_name"] = pathList.pop()
                        params["char_set"] = this.decode
                        currentPath = pathList.join("/")
                        top.ShellsManagerX.operationFile("show", currentPath, "false", params).then(res => {
                            // console.log(res);
                            this.$set(this.fileCon, 'name', row.name)
                            this.$set(this.fileCon, 'con', res.msg)
                            this.isShowFileCon = true
                        }).catch((error) => {
                            top.goby.showErrorMessage("ShellHub : " + error.message)
                        })
                        break;
                    default:
                        break;
                }
            },
            // 保存修改按钮
            saveFile() {
                let currentPath = this.path.join(this.currentPath, this.fileCon.name).replace(/\\/g, '/').replace(/\/$/, '')
                top.ShellsManagerX.uploadFile(currentPath, "", this.fileCon.con, 'false', false)
                    .then(res => {
                        console.log(res);
                        if (res.status === 'success') {
                            let node = this.$refs.tree.currentNode.node
                            this.$set(node.data, 'children', [])
                            this.$set(node, 'childNodes', [])
                            this.$set(node.data, 'isGetPath', false)
                            this.nodeClick(node.data, node)
                            top.goby.showSuccessMessage("ShellHub : " + this.fileCon.name + " Save Success")
                        } else if (res.status === 'fail') {
                            top.goby.showErrorMessage("ShellHub : " + res.msg)
                        }
                    }).catch((error) => {
                    console.log(error)
                    top.goby.showErrorMessage("ShellHub : " + error.message)
                })
            },
            // 修改时间戳
            modTimestamp() {
                let params = {
                    "access_time_stamp": "",
                    "char_set": "",
                    "create_time_stamp": "",
                    "current_path": "",
                    "dir_name": "",
                    "is_chunk": true,
                    "local_path": "",
                    "mode": "",
                    "modify_time_stamp": "",
                    "new_file_name": "",
                    "old_file_name": "",
                    "remote_path": ""
                }
                let currentPath = this.path.join(this.currentPath, "/").replace(/\\/g, '/').replace(/\/$/, '')
                params.old_file_name = this.fixTime.name
                params.create_time_stamp = this.fixTime.createTime
                params.modify_time_stamp = this.fixTime.lastModifiedTime
                params.access_time_stamp = this.fixTime.lastAccessTime
                console.log(params)
                top.ShellsManagerX.operationFile("updateTimeStamp", currentPath, "false", params)
                    .then(res => {
                        console.log(res);
                        if (res.status === 'success') {
                            top.goby.showSuccessMessage("ShellHub : " + this.fixTime.name + " Modify Timestamp Success")
                        } else if (res.status === 'fail') {
                            top.goby.showErrorMessage("ShellHub : " + res.msg)
                        }
                    }).catch((error) => {
                    console.log(error)
                    top.goby.showErrorMessage("ShellHub : " + error.message)
                })
            },
            // 上传按钮
            uploadBtn() {
                const {dialog} = top.require('@electron/remote');
                dialog.showOpenDialog({}).then(res=>{
                    if(res.canceled) return;
                    top.ShellsManagerX.isDown = true;
                    this.ConfirmLoading = true
                    this.proStatus = ""
                    let currentPath = this.path.join(this.currentPath, this.path.basename(res[0])).replace(/\\/g, '/').replace(/\/$/, '')
                    console.log(currentPath)
                    this.uploadFileName = currentPath
                    this.uploadFileName = currentPath
                    top.ShellsManagerX.uploadFile(currentPath, res.filePaths[0], "", 'false', true, (res) => {
                        console.log(res)
                        if (res !== 0 && !res) {
                            this.proStatus = 'warning'
                            this.progress = 0;
                            this.isShowProgress = false;
                            this.isShowCancelBtn = false
                            return;
                        }
                        this.isShowProgress = true
                        this.isShowCancelBtn = true
                        this.progress = res;
                    }).then(res => {
                        console.log(res);
                        if (!res) {
                            this.ConfirmLoading = false
                            top.goby.showSuccessMessage("ShellHub : Cancel Success")
                            return;
                        }
                        if (res.status === 'success') {
                            let node = this.$refs.tree.currentNode.node
                            this.$set(node.data, 'children', [])
                            this.$set(node, 'childNodes', [])
                            this.$set(node.data, 'isGetPath', false)
                            this.nodeClick(node.data, node)
                            top.goby.showSuccessMessage("ShellHub : Upload Success")
                            this.proStatus = res.status
                            this.ConfirmLoading = false
                            this.isShowCancelBtn = false
                            setTimeout(() => {
                                this.isShowProgress = false
                            }, 1000)
                        } else if (res.status === 'fail') {
                            top.goby.showErrorMessage("ShellHub : " + res.msg)
                            this.proStatus = 'warning'
                            this.progress = 0;
                            this.isShowProgress = false;
                            this.ConfirmLoading = false
                            this.isShowCancelBtn = false
                        }
                    }).catch(error => {
                        top.goby.showErrorMessage("ShellHub : " + error.message)
                        this.cancelBtn()
                    })
                })
            },
            // 上传 goby 按钮
            gobyBtn() {
                // let options = {
                //     type: 1,// 0 分组  1服务器
                //     name: this.getInfo().URL,
                //     host: "127.0.0.1",
                //     port: "8361",
                //     username: "user",
                //     password: "pass",
                //     proxy: "socks5://127.0.0.1:1080",
                //     parentId: "", //分组ID  如果需要放到最第一层 则不传
                // }
                // let gobyServer = top.goby.addGobyServer(options)
                // top.goby.setGobyServer(gobyServer.data)
                // top.goby.showSuccessMessage("ShellHub : 设置远程服务器成功!")
                let cPath = this.getInfo().CPath
                top.ShellsManagerX.isDown = true;
                this.ConfirmLoading = true
                this.proStatus = ""
                let currentPath = this.path.join(cPath, 'goby-cmd-linux').replace(/\\/g, '/').replace(/\/$/, '')
                console.log(currentPath)
                this.uploadFileName = currentPath
                top.ShellsManagerX.uploadFile(currentPath, 'D:\\Goby\\goby-linux-x64-1.9.307\\golib\\goby-cmd-linux', "", 'false', true, (res) => {
                    console.log(res)
                    if (res !== 0 && !res) {
                        this.proStatus = 'warning'
                        this.progress = 0;
                        this.isShowProgress = false;
                        this.isShowCancelBtn = false
                        return;
                    }
                    this.isShowProgress = true
                    this.isShowCancelBtn = true
                    this.progress = res;
                }).then(res => {
                    console.log(res);
                    if (!res) {
                        this.ConfirmLoading = false
                        top.goby.showSuccessMessage("ShellHub : Cancel Success")
                        return;
                    }
                    if (res.status === 'success') {
                        let node = this.$refs.tree.currentNode.node
                        this.$set(node.data, 'children', [])
                        this.$set(node, 'childNodes', [])
                        this.$set(node.data, 'isGetPath', false)
                        this.nodeClick(node.data, node)
                        top.goby.showSuccessMessage("ShellHub : Upload Success")
                        this.proStatus = res.status
                        this.ConfirmLoading = false
                        this.isShowCancelBtn = false
                        setTimeout(() => {
                            this.isShowProgress = false
                            let currentPath = this.path.join(cPath, "/").replace(/\\/g, '/').replace(/\/$/, '')
                            let gobyPath
                            let gobyArgs
                            let cmd
                            if (currentPath.substr(0, 1) === "/") {
                                gobyPath = this.path.join(currentPath, "/goby-cmd-linux").replace(/\\/g, '/').replace(/\/$/, '')
                                gobyArgs = "-apiauth user:pass -mode api -bind 127.0.0.1:8361"
                                // gobyArgs = "-apiauth user:pass -mode api -bind 0.0.0.0:8361"
                                cmd = `chmod +x ${gobyPath};${gobyPath} ${gobyArgs} >> goby_out.txt 2>&1`
                            } else {
                                gobyPath = this.path.join(currentPath, "/goby-cmd.exe").replace(/\\/g, '/').replace(/\/$/, '')
                                let outPut = this.path.join(currentPath, "/goby_out.txt").replace(/\\/g, '/').replace(/\/$/, '')
                                gobyArgs = "-apiauth user:pass -mode api -bind 127.0.0.1:8361"
                                cmd = `${gobyPath} ${gobyArgs}>> ${outPut} 2>&1`
                            }
                            console.log(cmd)
                            let force = "false"
                            this.isShowResultBtn = true
                            this.isShowRunExe = false
                            top.ShellsManagerX.runCmd(cmd, currentPath, force).catch((error) => {
                                console.log(error)
                                top.goby.showErrorMessage("ShellHub : " + error.message)
                            })
                            setTimeout(() => {
                                let options = {
                                    type: 1,// 0 分组  1服务器
                                    name: this.getInfo().URL,
                                    host: "127.0.0.1",
                                    port: "8361",
                                    username: "user",
                                    password: "pass",
                                    parentId: "", //分组ID  如果需要放到最第一层 则不传
                                }
                                let gobyServer = top.goby.addServer(options)
                                top.goby.setServer(gobyServer.data)
                                top.goby.showSuccessMessage("ShellHub : 设置远程服务器成功!")
                                top.ShellsManagerX.startProxy()
                            }, 1000)
                        }, 1000)
                    } else if (res.status === 'fail') {
                        top.goby.showErrorMessage("ShellHub : " + res.msg)
                        this.proStatus = 'warning'
                        this.progress = 0;
                        this.isShowProgress = false;
                        this.ConfirmLoading = false
                        this.isShowCancelBtn = false
                    }
                }).catch(error => {
                    top.goby.showErrorMessage("ShellHub : " + error.message)
                    this.cancelBtn()
                })
            },
            // 取消上传按钮
            cancelBtn() {
                top.ShellsManagerX.isDown = false;
                this.proStatus = 'warning'
                this.progress = 0;
                this.isShowProgress = false;
                this.ConfirmLoading = false
                this.isShowCancelBtn = false
                let params = {
                    "access_time_stamp": "",
                    "char_set": "",
                    "create_time_stamp": "",
                    "current_path": "",
                    "dir_name": "",
                    "is_chunk": true,
                    "local_path": "",
                    "mode": "",
                    "modify_time_stamp": "",
                    "new_file_name": "",
                    "old_file_name": "",
                    "remote_path": ""
                }
                top.ShellsManagerX.operationFile('delete', this.uploadFileName, 'false', params).then(res => {
                    if (res.status === 'success') {
                        let node = this.$refs.tree.currentNode.node
                        this.$set(node.data, 'children', [])
                        this.$set(node, 'childNodes', [])
                        this.$set(node.data, 'isGetPath', false)
                        this.nodeClick(node.data, node)
                        top.goby.showSuccessMessage("ShellHub : " + res.msg)
                    } else if (res.status === 'fail') {
                        top.goby.showErrorMessage("ShellHub : " + res.msg)
                    }

                }).catch((error) => {
                    top.goby.showErrorMessage("ShellHub : " + error.message)
                })
            },
            refreshBtn() {
                let node = this.$refs.tree.getNode(this.currentPath)
                this.$set(node.data, 'children', [])
                this.$set(node, 'childNodes', [])
                this.$set(node.data, 'isGetPath', false)
                this.nodeClick(node.data, node)
            },
            newFile() {
                this.fileCon = {
                    name: "",
                    con: ""
                }
                this.$prompt('File Name', 'New', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel'
                }).then(({value}) => {
                    this.isShowFileCon = true;
                    this.$set(this.fileCon, 'name', value)
                })
            },
            newFolder() {
                this.$prompt('Folder Name', 'New', {
                    confirmButtonText: 'Confirm',
                    cancelButtonText: 'Cancel'
                }).then(({value}) => {
                    let params = {
                        "access_time_stamp": "",
                        "char_set": "",
                        "create_time_stamp": "",
                        "current_path": "",
                        "dir_name": "",
                        "is_chunk": true,
                        "local_path": "",
                        "mode": "",
                        "modify_time_stamp": "",
                        "new_file_name": "",
                        "old_file_name": "",
                        "remote_path": ""
                    }
                    let currentPath = this.path.join(this.currentPath, "/").replace(/\\/g, '/').replace(/\/$/, '')
                    console.log(currentPath)
                    params.dir_name = value
                    top.ShellsManagerX.operationFile('createDirectory', currentPath, 'false', params)
                        .then(res => {
                            console.log(res);
                            if (res.status === 'success') {
                                let node = this.$refs.tree.currentNode.node
                                this.$set(node.data, 'children', [])
                                this.$set(node, 'childNodes', [])
                                this.$set(node.data, 'isGetPath', false)
                                this.nodeClick(node.data, node)
                                top.goby.showSuccessMessage("ShellHub : " + res.msg)
                            } else if (res.status === 'fail') {
                                top.goby.showErrorMessage("ShellHub : " + res.msg)
                            }

                        }).catch(error => {
                        console.log(error)
                        top.goby.showErrorMessage("ShellHub : " + error.message)
                    })
                })
            },
            resultBtn() {
                this.isShowRefreshBtn = true
                let params = {
                    "access_time_stamp": "",
                    "char_set": "",
                    "create_time_stamp": "",
                    "current_path": "",
                    "dir_name": "",
                    "is_chunk": true,
                    "local_path": "",
                    "mode": "",
                    "modify_time_stamp": "",
                    "new_file_name": "",
                    "old_file_name": "",
                    "remote_path": ""
                }
                let pathList = this.outputFilePath.split("/")
                params.old_file_name = pathList.pop()
                params.char_set = this.decode
                let currentPath = pathList.join("/")
                top.ShellsManagerX.operationFile("show", currentPath, "false", params).then(res => {
                    // console.log(res);
                    this.$set(this.fileCon, 'name', this.outputFilePath)
                    this.$set(this.fileCon, 'con', res.msg)
                    this.isShowFileCon = true
                }).catch((error) => {
                    parent.goby.showErrorMessage("ShellHub : " + error.message)
                })
            },
            // 执行文件
            runExeBtn() {
                let currentPath = this.path.join(this.currentPath, "/").replace(/\\/g, '/').replace(/\/$/, '')
                let cmd
                let args = (this.runExe.args === undefined) ? "" : this.runExe.args
                if (this.runExe.fileName.substr(0, 1) === "/") {
                    console.log(this.runExe.perm)
                    if (this.runExe.perm.indexOf("x") !== -1) {
                        cmd = `${this.runExe.fileName} ${args} >> ${this.runExe.outputFile} 2>&1`
                    } else {
                        cmd = `chmod +x ${this.runExe.fileName};${this.runExe.fileName} ${args} >> ${this.runExe.outputFile} 2>&1`
                    }
                } else {
                    cmd = `${this.runExe.fileName} ${args}>> ${this.runExe.outputFile} 2>&1`
                }
                console.log(cmd)
                let force = "false"
                this.isShowResultBtn = true
                this.isShowRunExe = false
                top.ShellsManagerX.runCmd(cmd, currentPath, force).catch((error) => {
                    console.log(error)
                    top.goby.showErrorMessage("ShellHub : " + error.message)
                })
                setTimeout(() => {
                    let node = this.$refs.tree.currentNode.node
                    console.log(node)
                    this.$set(node.data, 'children', [])
                    this.$set(node, 'childNodes', [])
                    this.$set(node.data, 'isGetPath', false)
                    this.nodeClick(node.data, node)
                    top.goby.showSuccessMessage("ShellHub : " + this.runExe.fileName + " Execution Succeed!")
                }, 1000)

            }
        },
        computed: {
            currTableData() {
                return this.tableData.slice((this.page - 1) * this.size, this.page * this.size)
            }
        },
        mounted() {
            $('head').prepend(`
                <style>
                    :root{
                            ${top.document.querySelector('html').style.cssText}
                        }
                </style>
            `)
            this.init();
        },
        i18n
    }).$mount('#app')
</script>
</html>
