*::-webkit-scrollbar {
    width: 5px;
    /*竖向滚动条的宽度*/
    height: 5px;
    /*横向滚动条的高度*/
}
body::-webkit-scrollbar {
    width: 0px;
    /*竖向滚动条的宽度*/
    height: 0px;
    /*横向滚动条的高度*/
}
*::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
}
*::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color:var(--lv4Background-color);
}
*::-webkit-scrollbar-thumb:window-inactive {
    background-color: var(--secondaryBorder-color);
    -webkit-border-radius: 0;
    border-radius: 0;
}
html,body{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
body{
    font-size: 12px;
    color:var(--primaryFont-color);
}
.layui-tab{
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.layui-tab-title{
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--lv3Background-color);
    z-index: 10;
}
.layui-tab-title li {
    color: var(--level3Font-color);
    line-height: 1;
    padding-bottom: 13px;
    
}
.layui-tab-title .layui-this:after {
    top: auto;
    height: 1px;
    bottom: 0;
}
.layui-this.li1:before,.layui-this.li2:before,.layui-this.li3:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    border: 4px solid transparent;
    border-bottom-color: var(--main-color);
    left: 50%;
    transform: translate(-50%);
}
.layui-tab-brief>.layui-tab-title .layui-this {
    color: var(--main-color);
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{
    border-color: var(--main-color);
    border-width: 1px;
}
.layui-tab-content{
    padding: 10px 0;
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    bottom: 0;
}
.layui-form-label{
    text-align: left;
    color: var(--primaryFont-color);
}
input.target{
    width:428px;
    max-height: 30px;
    min-height: 30px;
}
input.userpath{
    width:358px;
    max-height: 30px;
    margin-top: 5px;
    min-height: 30px;
}

input{
    color: var(--primaryFont-color);
    resize:none!important;
}
.layui-form-label{
    float: left;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
}
.layui-input-block{
    float: left;
    margin-left: 0;
    min-height: 30px;
}
input{
    background-color: var(--lv3Background-color)!important;
}
.layui-form-item {
    height: 30px;
    margin-bottom: 17px;
    display: flex;
}
.layui-form-selected dl{
    background-color: var(--lv3Background-color)!important;
}
.layui-form-select dl dd.layui-this {
    background-color:transparent;
    color: var(--primaryFont-color);
    font-weight: 600;
    
}
.layui-form-select dl dd {
    height: 30px;
}
.layui-form-select dl dd:hover{
    background-color:var(--lv4Background-color);
    transition:none;
}       
.layui-form-select .layui-input{
    height: 30px;
    color: var(--level3Font-color);
}
.layui-btn{
    width: 130px;
    height: 38px;
    font-size: 14px;
}

.layui-btn,.layui-btn:hover{
    background:var(--main-color);
    color: #ffffff;
    opacity:1;
}
.layui-form-switch {
    border-color: var(--main-color);
}
.layui-form-onswitch {
    border-color: var(--main-color);
    background-color: var(--main-color);
}
.layui-form table tr td p {
    color: var(--main-color);
}
.scan {
    margin-left: 16px;
}

.layui-badge-rim, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-textarea{
    border: 1px solid var(--primaryBorder-color)
}
.layui-input:focus,.layui-input:hover, .layui-textarea:focus,.layui-textarea:hover {
    border-color: var(--main-color)!important;
}

.layui-form-checkbox[lay-skin="primary"] i{
    border-color: var(--primaryBorder-color)!important;
    background: transparent;
    color: transparent;
}
.layui-form-checked[lay-skin="primary"] i {
    border-color: var(--main-color)!important;
    background-color: var(--main-color);
    color: #fff;
}
.layui-form-checkbox[lay-skin="primary"]:hover i {
    border-color: var(--main-color)!important;
    color: transparent;
}
.layui-form-checked[lay-skin="primary"]:hover i {
    border-color: var(--main-color)!important;
    background-color: var(--main-color);
    color: #fff;
}

.head{
    background: var(--lv4Background-color);
    border-bottom: 1px solid var(--primaryBorder-color);
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.head>div,.con>div>div.roughly{
    padding: 5px 10px;
    font-size: 12px;
    vertical-align: middle;
    display: table-cell;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}

.head>div:nth-child(1),.con>div>div:nth-child(1){
    width: 28px;
}
.head>div:nth-child(2),.con>div>div:nth-child(2){
    width: 60px;
    max-width: 60px;
}
.head>div:nth-child(3),.con>div>div:nth-child(3){
    width: 84px;
    max-width: 84px;
}
.head>div:nth-child(4),.con>div>div:nth-child(4){
    width: 58px;
    max-width: 58px;
}
.head>div:nth-child(5),.con>div>div:nth-child(5){
    width: 160px;
    max-width: 160px;
}
.head>div:nth-child(6),.con>div>div:nth-child(6){
    width: 54px;
    max-width: 54px;
}
.head>div:nth-child(7),.con>div>div:nth-child(7){
    width: 48px;
    max-width: 48px;
}

.layui-tab-item{
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}

.foot{
    text-align: center;
    line-height: 5;
    color: var(--level3Font-color);
}
.layui-disabled i, .layui-disabled:hover i{
    cursor: not-allowed!important;
}
.none{
    display: none;
}

.layui-anim.layui-anim-upbit{
    max-width: 100%;
}

@keyframes shan{
    0% {opacity: 1; }
    20% {opacity: 0.5;}
    40% {opacity:0}
    60% {opacity:0.5}
    80% {opacity:0.8}
    100% {display:none;opacity:0};
}

.layui-anim.layui-anim-upbit{
    height:90px ;
}

.layui-form-select .layui-edge{
    border-top-color:#C7D3E7;
}
