@charset "UTF-8";
[v-cloak] {
  display: none;
}

/* 滚动条样式 */
::-webkit-scrollbar {
  width: 5px;
  /*竖向滚动条的宽度*/
  height: 5px;
  /*横向滚动条的高度*/
}

/* 滚动条轨道的样式 */
::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* 滚动条轨道内滑块的样式 */
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: var(--primaryBorder-color);
}

/* 当焦点不在当前区域滑块的状态 */
::-webkit-scrollbar-thumb:window-inactive {
  background-color: var(--secondaryBorder-color);
  -webkit-border-radius: 0;
  border-radius: 0;
}

.el-dialog {
  background-color: var(--lv3Background-color);
  margin: 0 !important;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 90%;
  transform: translate(-50%, -50%);
}

.el-dialog__header {
  background: var(--main-color);
}
.el-dialog__header span {
  color: #ffffff;
}
.el-dialog__header .el-dialog__close.el-icon.el-icon-close {
  color: #ffffff;
}

.el-dialog__body {
  padding: 10px;
  max-height: 260px;
  height: 260px;
  overflow: auto;
}

.el-dialog__footer {
  padding: 10px;
}
.el-dialog__footer button {
  color: #ffffff !important;
  background-color: var(--main-color) !important;
  border: none;
}

.decode_title {
  float: right;
  margin-right: 10px;
}

.decode {
  float: right;
  margin-right: 10px;
}
.decode .el-input {
  width: 100px;
}
.decode .el-input .el-input__inner {
  height: 20px;
  line-height: 20px;
}

.el-input--mini .el-input__icon {
  line-height: 20px;
}

.el-select-dropdown.el-popper {
  width: 100px;
  height: 50px;
  background: var(--lv3Background-color);
}

.el-select-dropdown__item {
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  background: transparent;
}
.el-select-dropdown__item.selected, .el-select-dropdown__item:hover {
  background: var(--lv4Background-color);
  color: var(--primaryFont-color);
}

.fileCon {
  width: 100% !important;
  height: calc(100% - 3px) !important;
  display: inline-block;
  white-space: pre-wrap;
  box-sizing: border-box;
  font-size: 12px;
  padding: 10px;
}

.el-table--border::after, .el-table--group::after, .el-table::before {
  background: transparent;
}

body {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  margin: 0;
  font-size: 12px;
  font-family: "San Francisco Pro", "Roboto", "Helvetica", "PingFang SC", "苹方", "Microsoft Yahei", "微软雅黑", "Source Han Sans CN", "思源黑体", "SimHei", "黑体", "SimSun", "宋体", sans-serif;
}
body #app {
  width: 100%;
  height: 100%;
  max-height: height;
}
body #app .lv3font {
  line-height: 20px;
  color: var(--level3Font-color);
}
body #app .el-tree-node__label {
  color: var(--level3Font-color);
}
body #app #tree {
  width: 200px;
  float: left;
  height: 100%;
  max-height: 100%;
  position: relative;
}
body #app #tree .el-tree {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: auto;
  background-color: var(--lv3Background-color);
}
body #app #tree .el-tree .el-tree-node:focus > .el-tree-node__content, body #app #tree .el-tree .el-tree-node:focus > .el-tree-node__content:hover {
  background-color: var(--lv4Background-color);
}
body #app #tree .el-tree .el-tree-node__content:hover {
  background-color: var(--lv4Background-color);
}
body #app #table {
  width: calc(100% - 200px);
  float: right;
  height: 93% !important;
  max-height: 93% !important;
  overflow: auto;
  position: relative;
}
body #app #table .el-table {
  position: absolute;
  top: 35px;
  left: 0;
  right: 0;
  height: auto;
  max-height: calc(100% - 84px);
  overflow: auto;
  background-color: transparent;
}
body #app #table .el-table th, body #app #table .el-table tr {
  background-color: var(--secondaryBackground-color);
}
body #app #table .el-table td, body #app #table .el-table th {
  padding: 5px 0;
}
body #app #table .el-table .el-table__body-wrapper th, body #app #table .el-table .el-table__body-wrapper tr {
  background-color: transparent;
}
body #app #table .el-table .el-table__body-wrapper th *, body #app #table .el-table .el-table__body-wrapper tr * {
  cursor: default;
}
body #app #table .el-table .el-table__body-wrapper th:hover, body #app #table .el-table .el-table__body-wrapper tr:hover {
  background: var(--lv4Background-color);
}
body #app #table .el-table--enable-row-hover .el-table__body tr:hover > td {
  background-color: transparent;
}
body #app #table .el-pagination {
  position: absolute;
  bottom: 0;
  right: 0;
}
body #app #table .el-pagination {
  font-weight: normal;
  padding-left: 0;
}
body #app #table .el-pagination .btn-next,
body #app #table .el-pagination .btn-prev,
body #app #table .el-pagination .el-pager li {
  width: 20px;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  color: var(--primaryFont-color);
  background-color: var(--lv4Background-color);
  padding: 0;
  text-align: center;
  line-height: 22px;
}
body #app #table .el-pagination .el-pager li:not(.disabled).active {
  background-color: var(--main-color);
  color: #fff !important;
}
body #app #table .el-pagination__editor.el-input .el-input__inner {
  height: 20px;
}
body #app #table .el-pagination span:not([class*=suffix]) {
  font-size: 12px;
  line-height: 22px;
}
body #app #table .el-pagination__total,
body #app #table .el-pagination__jump {
  color: var(--level3Font-color);
  margin-left: 0;
}
body #app #table .el-pagination:nth-of-type(1) {
  margin-right: -10px;
  vertical-align: middle;
  display: inline-block;
}
body #app #table .el-pagination:nth-of-type(2) {
  display: inline-block;
  vertical-align: top;
}
body #app #table .el-pagination .el-pager li:not(.disabled):hover {
  color: var(--primaryFont-color);
}
body #app #table .page_input {
  display: inline-block;
  font-size: 12px;
}
body #app #table .page_input .el-input {
  width: 41px;
  height: 20px;
}
body #app #table .page_input .el-input input {
  width: 41px;
  height: 18px;
  color: var(--primaryFont-color);
}
body #app #table .el-pagination .btn-next.disabled, body #app #table .el-pagination .btn-next:disabled, body #app #table .el-pagination .btn-prev.disabled, body #app #table .el-pagination .btn-prev:disabled, body #app #table .el-pagination .el-pager li.disabled {
  color: #C0C4CC;
}
body #app #table .el-pagination .btn-next, body #app #table .el-pagination .btn-prev, body #app #table .el-pagination .el-pager li {
  margin: 0 5px;
}
body #app #table .el-pagination__editor.el-input .el-input__inner {
  height: 20px;
}
body #app #table .el-pagination__jump .el-input__inner {
  padding: 0 3px;
}
body #app #table .el-pagination .el-input__inner {
  text-align: center;
  -moz-appearance: textfield;
  line-height: normal;
}
body #app #table .el-input__inner, body #app #table .el-textarea__inner, body #app #table #scan-dia .el-dropdown-link, body #app #table #add-asset .el-dropdown-link {
  border-color: var(--primaryBorder-color);
}
body #app #table .el-input__inner {
  color: var(--primaryFont-color);
  border-radius: 2px;
}
body #app #table .el-input__inner, body #app #table .el-textarea__inner {
  background-color: transparent !important;
}
body #app .el-table thead {
  font-size: 12px;
  color: var(--primaryFont-color);
}
body #app .el-table .cell {
  color: var(--level3Font-color);
}
body #app .el-table td, body #app .el-table th.is-leaf {
  border-bottom: 1px solid var(--secondaryBorder-color);
}
body #app .el-table tr:nth-last-child(1) {
  border-bottom: 1px solid transparent;
}
body #app .el-table th {
  border: none !important;
}

.el-message-box {
  width: 30%;
  font-size: 12px;
  border: 0;
  background-color: var(--lv3Background-color);
}
.el-message-box .el-message-box__header {
  background: var(--main-color);
}
.el-message-box .el-message-box__header span {
  color: #ffffff;
}
.el-message-box .el-message-box__header .el-message-box__close.el-icon-close {
  color: #ffffff;
}
.el-message-box .el-message-box__input .el-input__inner {
  height: 30px;
  line-height: 30px;
}
.el-message-box .el-button.el-button--default.el-button--small {
  border: 0;
}
.el-message-box .el-button.el-button--default.el-button--small:hover {
  border: 0;
}
.el-message-box .el-button.el-button--default.el-button--small:nth-child(1) {
  color: var(--secondaryFont-color) !important;
  background-color: var(--lv4Background-color) !important;
}
.el-message-box .el-button.el-button--default.el-button--small:nth-child(2) {
  color: #ffffff !important;
  background-color: var(--main-color) !important;
}

.el-input__inner {
  color: var(--primaryFont-color);
  border-radius: 2px;
}

.el-input__inner, .el-textarea__inner {
  background-color: transparent !important;
}

.el-input__inner {
  border-color: var(--primaryBorder-color);
}

.el-input__inner:focus {
  border-color: var(--primaryBorder-color);
}
