body{
  padding: 20px;
}
/* 滚动条轨道的样式 */
::-webkit-scrollbar {
  width: 5px;
  /*竖向滚动条的宽度*/
  height: 5px;
  /*横向滚动条的高度*/
}

::-webkit-scrollbar-track {
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0;
}

/* 滚动条轨道内滑块的样式 */
::-webkit-scrollbar-thumb {
  border-radius: 0;
  background-color: #A0B0CD;
}

/* 当焦点不在当前区域滑块的状态 */
::-webkit-scrollbar-thumb:window-inactive {
  background-color: #FFFFFF;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.clearfix:before,
.clearfix:after {
  /*清除浮动*/
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
  /*IE/7/6*/
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.marLeft0 {
  margin-left: 0;
}

.layui-input-block {
  min-height: 26px;
}

.search-input-wrap {
  width: 392px;
}

.layui-table-wrap {
  max-height: 410px;
  overflow: auto;
}

.search-input-wrap .layui-input {
  height: 26px;
  font-size: 12px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(207, 217, 229, 1);
}

.layui-btn.aa {
  height: 26px;
  line-height: 26px;
  font-size: 12px;
  background-color: rgba(71, 120, 199, 1);
  border-radius: 4px;
  text-align: left;
  padding: 0;
}

.layui-table thead tr {
  background-color: #F2F6FB;
}

.layui-table td,
.layui-table th {
  font-size: 12px;
  color: #7586A6;
  padding: 4px 10px;
  line-height: inherit;
  border: none;
}

.layui-table td {
  color: #163366;
  line-height: 16px;
  padding: 10px;
  border-bottom: 1px solid #EFF2F7;
}

.layui-table tbody tr:hover {
  background-color: #ffffff;
}

#page {
  position: fixed;
  bottom: 0;
  right: 0;
}

.layui-laypage {
  margin: 0;
}

.layui-laypage a,
.layui-laypage span {
  height: 20px;
  line-height: 20px;
  margin-bottom: 0;
  padding: 0 8px;
  color: #163366;
  text-align: center;
  border-radius: 10px !important;
  margin-right: 8px;
  border: none;
}

.layui-laypage a:hover,
.layui-laypage .layui-laypage-curr em {
  color: #4577C6;
}

.layui-laypage-curr .layui-laypage-em {
  color: #4577C6 !important;
  border-radius: 50% !important;
  border: none;
  left: 0 !important;
  top: 0 !important;
  padding: 0 !important;
  background-color: transparent !important;
}

.iconImport- {
  font-size: 13px !important;
  margin-right: 8px;
}

.search-input-wrap>span {
  position: absolute;
  top: 3px;
  right: 3px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: #4778C7;
  border-radius: 10px;
}

.search-input-wrap>span .iconfangdajing {
  color: #fff;
  opacity: 0.9;
  font-size: 12px;
}

.no-data,
.loading {
  display: none;
  position: absolute;
  top: 50%;
  left: 5;
  width: 100%;
  text-align: center;
  font-size: 14px;
  color: rgb(160, 181, 205);
}

.loading {
  color: #4778C7;
}

.progress-info {
  position: absolute;
  top: 26px;
  right: 283px;
  color: #A0B0CD;
  font-size: 12px;
}

.layui-form-select {
  position: absolute;
  top: 20px;
  right: 138px;
  width: 98px;
  font-size: 12px;
  color: #163366;
}

.layui-form-select .layui-input {
  font-size: 12px;
  color: #163366;
  height: 26px;
  line-height: 24px;
  border-color: #cfd9e5;
}

.layui-form-select .layui-edge {
  top: 54%;
  border-width: 5px;
  border-top-color: #C7D3E7;
}

.layui-input:focus,
.layui-textarea:focus {
  border-top-color: #C7D3E7;
}

.layui-form-select dl dd {
  height: 20px;
  line-height: 20px;
}

.layui-form-select dl dd {
  margin-bottom: 5px;
}

.layui-form-select dl dd.layui-this {
  color: #163366;
  background:rgba(235, 240, 248, 1);
}

.layui-form-select dl dd:last-child {
  margin-bottom: 0;
}

.layui-form-select dl {
  top: 30px;
}

.layui-btn {
  padding: 0 21px;
}
.daorudaochu{
  float: right;
  width: 110px;
  height: 26px;
  /* background: red; */
  text-align: center;
  line-height: 26px;
  font-size: 12px;
  color: #163366;
  position: relative;
  user-select: none;
  z-index: 1000;
}
.daorudaochu > div{
  /* border:1px solid #c9c9c9; */
  box-sizing: border-box;
  position: relative;
  padding: 0 30px 0 10px;
  cursor: pointer;
  height: 26px;
}
.aa{
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  border: 0;
  cursor: pointer;
  text-indent: 10px;
}
.daorudaochu > div > .layui-edge{
  position: absolute;
  border-top-color: #C7D3E7;
  top: 54%;
  right: 10px;
  margin-top:-3px ;
  border-width: 5px;
  transform-origin: center 2.5px;
  transition: all .3s;
}
.nav{
  position: absolute;
  top:30px;
  left: 0;
  right: 0;
  /* margin-top: 5px; */
  border: 1px solid #d2d2d2;
  background: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0,0,0,.12);
  box-sizing: border-box;
  padding: 5px 0;
  display: none;
  opacity: 0;
}
.nav>li{
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  text-align: left;
  text-indent: 10px;
}
.nav>li:nth-child(1){
  margin-bottom: 5px;
}
.nav>li:hover{
  background-color:#f2f2f2;
  transition: .5s all;
}
.hh{
  animation-name: hh;
  animation-duration: .2s;
  animation-timing-function: ease;
  display: block;
  opacity: 1;
}
@keyframes hh{
  0% {
    transform: translate3d(0,30px,0);
    opacity: .3;
  }
  100% {
    transform: translate3d(0,0,0);
    opacity: 1;
  }
}