*::-webkit-scrollbar {
    width: 5px;
    /*竖向滚动条的宽度*/
    height: 5px;
    /*横向滚动条的高度*/
}
body::-webkit-scrollbar {
    width: 0px;
    /*竖向滚动条的宽度*/
    height: 0px;
    /*横向滚动条的高度*/
}
*::-webkit-scrollbar-track {
    background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
}
*::-webkit-scrollbar-thumb {
    border-radius: 0;
    background-color:var(--lv4Background-color);
}
*::-webkit-scrollbar-thumb:window-inactive {
    background-color: var(--secondaryBorder-color);
    -webkit-border-radius: 0;
    border-radius: 0;
}

html,body{
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
body{
    font-size: 12px;
    color:var(--primaryFont-color);
    margin-top: 6px;
}
.layui-tab{
    margin: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
.layui-tab-title{
    height: auto;
    position: fixed;
    top: 0px;
    left: 0;
    right: 0;
    padding-top: 6px;
    background: var(--lv3Background-color);
    z-index: 10;
    border-color: var(--secondaryBorder-color);
}
.layui-tab-title li {
    color: var(--level3Font-color);
    line-height: 1;
    padding-bottom: 13px;
    font: 14px;
    position: relative;
}
.layui-tab-title .layui-this:after {
    top: auto;
    height: 1px;
    bottom: -1px;
}
.layui-badge{
    position: absolute;
    max-height: 14px;
    min-width: 6px;
    max-width: 15px;
    padding: 2px 4px;
    font-size: 11px;
    justify-content: center;
    left: 62%!important;
    top: -6px!important;
    transform: translateX(5px);
    display: inline-flex;
    justify-items: center;
    line-height: 11px;
    height: 11px;
    border-radius:7px;
    zoom: 0.8;
    background: #ec5048;
}
.layui-this.li1:before,.layui-this.li2:before {
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    border: 4px solid transparent;
    border-bottom-color: var(--main-color);
    left: 50%;
    transform: translate(-50%);
}
.layui-tab-brief>.layui-tab-title .layui-this {
    color: var(--main-color);
}
.layui-tab-brief>.layui-tab-more li.layui-this:after, .layui-tab-brief>.layui-tab-title .layui-this:after{
    border-color: var(--main-color);
    border-width: 1px;
}
.layui-tab-content{
    padding: 10px 0;
    position: absolute;
    top: 28px;
    left: 0;
    right: 0;
    bottom: 0;
}
.layui-form-label{
    text-align: left;
    color: var(--primaryFont-color);
}
textarea.ip{
    width:516px;
    max-height: 74px;
    min-height: 74px;
}

textarea.portcontent{
    width:516px;
    max-height: 55px;
    min-height: 55px;
    margin-top: 15px;
}
.error{
    position: absolute;
    bottom: 0;
    transform: translateY(calc(100% + 2px));
    color: #EC5048;
}
textarea,input{
    color: var(--primaryFont-color);
    resize:none!important;
}
.layui-form-label{
    float: left;
    padding-right: 0;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 30px;
}
.layui-input-block{
    float: left;
    margin-left: 0;
    min-height: 30px;
}
input,textarea{
    background-color: var(--lv3Background-color)!important;
}
.layui-form-item {
    margin-bottom: 17px;
    display: flex;
}
.layui-form-selected dl{
    background-color: var(--lv3Background-color)!important;
}
.layui-form-select dl dd.layui-this {
    background-color:transparent;
    color: var(--primaryFont-color);
    font-weight: 600;
    
}
.layui-form-select dl dd {
    height: 30px;
}
.layui-form-select dl dd:hover{
    background-color:var(--lv4Background-color);
    transition:none;
}       
.layui-form-select .layui-input{
    height: 30px;
    color: var(--level3Font-color);
}
.layui-btn{
    width: 130px;
    height: 38px;
    font-size: 14px;
}
.save,.save:hover{
    background:var(--main-color);
    color: #ffffff;
    opacity:1;
}
.cancel,.cancel:hover{
    background:var(--lv4Background-color);
    color: var(--secondaryFont-color);
    opacity: 1;
}
.Advanced{
    float: right;
    cursor: pointer;
    overflow: hidden;
    margin-bottom: 20px;
}
.Advanced1{
    display: none;
}
.vulnerability .layui-anim.layui-anim-upbit{
    width: 516px;
    overflow: hidden;
}
.taskname,.timenode{
    height: 30px;
    background: transparent;
    min-width: 160px;
}
input.timenode::-webkit-input-placeholder{
    color: var(--primaryFont-color);
}
.layui-badge-rim, .layui-colla-content, .layui-colla-item, .layui-collapse, .layui-elem-field, .layui-form-pane .layui-form-item[pane], .layui-form-pane .layui-form-label, .layui-input, .layui-layedit, .layui-layedit-tool, .layui-quote-nm, .layui-select, .layui-tab-bar, .layui-tab-card, .layui-textarea{
    border: 1px solid var(--primaryBorder-color)
}
.layui-input:focus,.layui-input:hover, .layui-textarea:focus,.layui-textarea:hover {
    border-color: var(--main-color)!important;
}
.layui-form-checkbox[lay-skin="primary"] i{
    border-color: var(--primaryBorder-color)!important;
    background: transparent;
    color: transparent;
}
.layui-form-checked[lay-skin="primary"] i {
    border-color: var(--main-color)!important;
    background-color: var(--main-color);
    color: #fff;
}
.layui-form-checkbox[lay-skin="primary"]:hover i {
    border-color: var(--main-color)!important;
    color: transparent;
}
.layui-form-checked[lay-skin="primary"]:hover i {
    border-color: var(--main-color)!important;
    background-color: var(--main-color);
    color: #fff;
}
.portContent{
    max-width: 160px;
}
.ips{
    max-width: 80px;
}
.detial{
    color: rgba(160, 176, 205, 1);
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 12px;
    transition: transform .5s;
}
.detial.xuan{
    transform: translateY(-50%) rotate(90deg);
}
.head{
    background: var(--lv4Background-color);
    /* border-bottom: 1px solid var(--primaryBorder-color); */
    overflow: hidden;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
}
.con{
    position: absolute;
    top: 33px;
    bottom: 0;
    overflow: scroll;
    box-sizing: border-box;
    user-select:none;
    display: none;
}
.con>div{
    border-bottom: 1px solid var(--secondaryBorder-color);
    border-top: 1px solid transparent;
    box-sizing: border-box;
}
.con>div:last-child{
    border-color: transparent;
}
.con>div.xia{
    border-bottom-color:var(--main-color) ;
}
.con>div.shang{
    border-top-color: var(--main-color);
}
.head>div,.con>div>div.roughly{
    padding: 5px 10px;
    font-size: 12px;
    vertical-align: middle;
    display: table-cell;
    overflow:hidden;
    text-overflow:ellipsis;
    white-space:nowrap;
}
.con>div>div.roughly i{
    cursor: pointer;
}
.con>div>div{
    /* border-bottom: 1px solid var(--primaryBorder-color); */
    position: relative;
}
.head>div:nth-child(1),.con>div>div:nth-child(1){
    position: relative;
    width: 27px;
    max-width: 27px;
}
.head>div:nth-child(2),.con>div>div:nth-child(2){
    width: 60px;
    max-width: 60px;
}
.head>div:nth-child(3),.con>div>div:nth-child(3){
    width: 84px;
    max-width: 84px;
}
.head>div:nth-child(4),.con>div>div:nth-child(4){
    width: 58px;
    max-width: 58px;
}
.head>div:nth-child(5),.con>div>div:nth-child(5){
    width: 130px;
    max-width: 130px;
}
.head>div:nth-child(6),.con>div>div:nth-child(6){
    width: 59px;
    max-width: 59px;
}
.head>div:nth-child(7),.con>div>div:nth-child(7){
    width: 63px;
    max-width: 63px;
}
.detialpage{
    padding-left: 48px;
    padding-right: 20px;
    line-height: 1.5;
    display: none;
}
.detialpage p{
    word-break:break-all;
    margin: 5px 0;
}
.layui-tab-item{
    position: absolute;
    top: 10px;
    bottom: 0;
    left: 0;
    right: 0;
}
.taskform{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.box{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom:22px;
    overflow-y: hidden;
}
.batchesdelete{
    position: absolute;
    bottom: 0px;
    left: 0;
    right: 0;
    height: 22px;
    background-color: var(--lv4Background-color);
    font-size: 12px;
    line-height: 22px;
    color: var(--level3Font-color);
    padding: 0 10px;
    border-radius: 2px;
}
.selected{
    color: var(--level3Font);
}
.cancel1{
    color: #333;
    cursor: pointer;
    margin-left: 17px;
}
.batchesremove{
    float: right;
    color: var(--level3Font-color);
    font-size: 14px;
}
.batchesremove.xuan{
    cursor: pointer;
    color:var(--main-color);
}
.foot{
    text-align: center;
    line-height: 5;
    color: var(--level3Font-color);
}
.layui-disabled i, .layui-disabled:hover i{
    cursor: not-allowed!important;
}
.none{
    display: none;
}
.Advanced{
    margin-right:13px ;
}
.Advanced i{
    transition: transform .5s;
    color: #C7D3E7;
    font-size: 14px;
}
.Advanced .-xuan{
    transform: rotate(90deg);
}
.layui-anim.layui-anim-upbit{
    max-width: 100%;
}
.wancheng{
    animation: shan 2s linear 0s forwards;
    background: rgba(241, 166, 0, 0.07);
}
@keyframes shan{
    0% {opacity: 1; }
    20% {opacity: 0.5;}
    40% {opacity:0}
    60% {opacity:0.5}
    80% {opacity:0.8}
    100% {display:none;opacity:0};
}
.xiao{
    width: 12px;
    height: 12px;
}
.change,.delete,.start,.kongbai{
    color: var(--main-color);
    font-size: 14px!important;
}
.kongbai{
    cursor: default!important;
}
.xiangao .layui-anim.layui-anim-upbit{
    height:252px ;
}
.detialpage p span:nth-child(2){
    color: var(--level3Font-color)
}
.layui-form-select .layui-edge{
    border-top-color:#C7D3E7;
}
.Operate{
    letter-spacing:2px;
}
.layui-form-checkbox{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding-left: 0!important;
}
.tuozhuai{
    font-size: 10px;
    color: var(--main-color);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
#layui-laydate1{
    /* left: 433px!important;
    bottom: 110px!important;
    top: auto!important; */
    /* left: auto!important;
    right: 0!important;
    top: 25px!important;
    zoom: 0.8; */
    background-color: var(--lv3Background-color);
    border-color: var(--primaryBorder-color);
    border-radius: 4px;
    font-size: 12px;
}
.layui-laydate-content th{
    color: var(--level3Font-color)!important;
}
.layui-laydate td{
    color:var(--primaryFont-color) ;
}
.layui-laydate td.layui-this{
    background-color:var(--main-color)!important;
}
.layui-laydate li.layui-this {
    background-color:var(--main-color)!important;
    color: rgb(255, 255, 255) !important;
}
.layui-laydate-header i:hover, .layui-laydate-header span:hover {
    color: var(--main-color)!important;
}
.layui-laydate-footer,.layui-laydate-main.laydate-main-list-0{
    zoom: 0.9;
}
.layui-laydate-footer span[lay-type=date] {
    color: var(--main-color)!important;
}
.layui-laydate-footer span:hover {
    color: var(--main-color)!important;
}
.layui-laydate-list.laydate-time-list *::-webkit-scrollbar {
    width: 0px;
    /*竖向滚动条的宽度*/
    height: 0px;
    /*横向滚动条的高度*/
}
.layui-laydate td.laydate-disabled, .layui-laydate td.laydate-disabled:hover{
    color: var(--level3Font-color)!important;
}
.laydate-day-next{
    color: var(--primaryFont-color)!important;
}
.layui-laydate-content td:hover, .layui-laydate-list ol li:hover{
    background-color: var(--main-color)!important;
    color: #fff!important;
}
.layui-laydate-content{
    background-color: var(--lv3Background-color)!important;
}
.layui-laydate-list{
    background-color: var(--lv3Background-color)!important;
}
.laydate-footer-btns{
    border-radius: 5px!important;
    overflow: hidden;
}
.laydate-footer-btns span{
    background-color: var(--main-color)!important;
    color: #ffffff;
    border: none!important;
}
.laydate-footer-btns span:hover{
    color: #ffffff!important;
}
.date1{
    position: relative;
    background: transparent;
    height: 100%;
}
.date1 input{
    border: none;
    background: transparent;
    height: 100%;
}
.date{
    width: 100%;
    height: 100%;
}

.fenjie{
    color: var(--level3Font-color);
    height: 20px;
    line-height: 27px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 15px 0 10px;
}
.fenjie.xia{
    border-bottom-color:var(--main-color) ;
}
.fenjie.shang{
    border-top-color:var(--main-color) ;
}
#showdate{
    width: 161px;
    height: 22px;
    border: 1px solid var(--primaryBorder-color);
    display: block;
    position: relative;
    line-height: 1;
    float: left;
    margin-right: 8px;
    color: transparent;
}
#showdate{
    color: var(--level3Font-color);
    line-height: 22px;
    /* text-indent: 9px; */
    
}
#timeNode{
    text-indent: 9px;
    width: 100%;
    height: 100%;
    border: 0;
    outline: none;
    cursor: pointer;
    color: var(--primaryFont-color);
}
#timeNode::-webkit-input-placeholder{
    color: var(--level3Font-color);
}

.qingkong{
    position: absolute;
    right: 10px;
    top: 0;
    font-size: 12px;
    display: none;
    cursor: pointer;
}
#showdate.showguanbi:hover  .qingkong{
    display: block;
}
.dingshi{
    font-size: 12px;
    color: #1afa29;
}
.laydate-prev-y,.laydate-next-y{
    display: none!important;
}
.laydate-prev-m,.laydate-next-m{
    position: relative;
    color: transparent!important;
    position: relative;
}
.laydate-prev-m{
    left: 16px!important;
}
.laydate-next-m{
    right: 16px!important;
}
.layui-laydate-header,.layui-laydate-footer{
    border-color: var(--primaryBorder-color)!important;
    color:var(--level3Font-color) ;
}
.layui-laydate-header .laydate-prev-m:hover,.layui-laydate-header .laydate-next-m:hover{
    color: transparent!important;
}

.laydate-prev-m::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-right-color: var(--primaryBorder-color);
    left: calc(50% - 6px);
    top: calc(50% - 6px);
    display: inline-block;
}
.laydate-next-m::before{
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-left-color: var(--primaryBorder-color);
    left: calc(50% - 6px);
    top: calc(50% - 6px);
    display: inline-block;
}
.layui-unselect.layui-form-switch{
    height: 10px;
    line-height: 10px;
    min-width:25px;
    max-width: 25px;
    border-left-width: 0;
    border-right-width:0 ;
    position: relative;
    background-color: var(--level3Fonta-color);
    border-color: transparent;
}
.layui-form-switch i{
    left: 0;
    top: 50%;
    right: auto;
    transform: translateY(-50%);
    min-width: 20px;
    width: 20px;
    height: 20px;
    background: var(--level3Font-color);
}
.layui-form-onswitch{
   background-color:var(--maina-color) !important;
}
.layui-unselect.layui-form-switch.layui-form-onswitch i{
    left: 100%;
    right: 0;
    background: var(--main-color);
}
.dingshitishi{
    vertical-align: bottom;
}
.dingshitishi span{
    margin-left: 5px;
}
xm-select{
    border-color: var(--primaryBorder-color)!important;
    background: transparent!important;
    line-height: 30px!important;
    height: 30px!important;
    box-sizing: border-box;
    transition: all .3s;
}
xm-select:hover{
    border-color: var(--main-color)!important;
}
xm-select > .xm-icon{
    border-top-color: #C7D3E7!important;
}
xm-select > .xm-tips{
    color: var(--level3Font-color)!important;
    font-size: 12px!important;
}
xm-select > .xm-body{
    width: 100%;
    max-width: 100%;
    min-width: 100%!important;
    background: var(--lv3Background-color)!important;
}
xm-select > .xm-body .scroll-body::-webkit-scrollbar {
    width: 5px!important;
    /*竖向滚动条的宽度*/
    height: 5px!important;
    /*横向滚动条的高度*/
}

xm-select > .xm-body .scroll-body::-webkit-scrollbar-track {
    background-color: transparent!important;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
}
xm-select > .xm-body .scroll-body::-webkit-scrollbar-thumb {
    border-radius: 0!important;
    background-color:var(--lv4Background-color)!important;
}
xm-select > .xm-body .scroll-body::-webkit-scrollbar-thumb:window-inactive {
    background-color: var(--secondaryBorder-color)!important;
    -webkit-border-radius: 0!important;
    border-radius: 0!important;
}
xm-select > .xm-body .scroll-body > .xm-option{
    background: transparent!important;
}
xm-select > .xm-body .scroll-body > .xm-option:hover{
    background: var(--lv4Background-color)!important;
}
xm-select > .xm-body .scroll-body > .xm-option i{
   display: none;
   border-color: var(--primaryBorder-color)!important;
   position: relative;
   transition: all .3s;
}
xm-select > .xm-body .scroll-body > .xm-option i::before{
    content:" "!important;
    display: block;
    box-sizing: content-box;
    border: 1px solid #FFF;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 5px;
    position: absolute;
    top: 1px;
    transform-origin: center;
    transform: rotate(45deg) scaleY(0);
    width: 3px;
}
xm-select > .xm-body .scroll-body > .selected i::before{
    content:" "!important;
    display: block;
    box-sizing: content-box;
    border: 1px solid #fff;
    border-left: 0;
    border-top: 0;
    height: 7px;
    left: 5px;
    position: absolute;
    top: 1px;
    transform-origin: center;
    transform: rotate(45deg) scaleY(1);
    width: 3px;
}
xm-select > .xm-body .scroll-body > .selected i{
    border: 1px solid transparent!important;
    background: var(--main-color);
}
xm-select > .xm-body .scroll-body > .xm-group ~ .xm-option i{
    display: block;
}
xm-select > .xm-body .scroll-body > .xm-option > .xm-option-content{
    font-size: 12px;
    color: var(--primaryFont-color);
}
xm-select > .xm-body .scroll-body > .selected > .xm-option-content{
    font-weight: 600;
    color: var(--main-color);
}
xm-select > .xm-label .xm-label-block{
    padding: 0px!important;
    /* background: var(--primaryBackground-color)!important; */
    border-radius: 2px;
    background: transparent!important;
}
xm-select .xm-label .scroll .label-content .xm-label-block > span{
    width: 100%;
    color: var(--level3Font-color)!important;
    font-size: 12px!important;
    white-space: nowrap;
}
xm-select .xm-label .scroll .label-content .xm-label-block > i::before{
    display: none;
}
xm-select .xm-label .scroll .label-content[title *= ","] .xm-label-block{
    background: var(--primaryBackground-color)!important;
    padding: 0 5px!important;
}
xm-select .xm-label .scroll .label-content[title *= ","] .xm-label-block > span{
    width: 75px!important;
    display: block!important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--level3Font-color)!important;
    font-size: 12px;
}
xm-select .xm-label .scroll .label-content[title *= ","] .xm-label-block i{
    color: var(--level3Font-color)!important;
}
xm-select .xm-label .scroll .label-content[title *= ","] .xm-label-block i::before{
    display: block;
}
xm-select > .xm-body .xm-group{
    height: 0;
    width: 487px;
    margin: 0 auto;
    border-bottom: 1px solid var(--level3Font-color);
}